.footer {
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, auto);
  gap: 16px;
  place-content: center;
  color: var(--primary-color);
  font-size: smaller;
  background-color: var(--secondary-color);
}
